body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

h1 {
    margin: 0;
}

h2, h3 {
    color: #007bff;
}

p, ul {
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

b {
    color: #007bff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
}
